Webpack (imports/exports) - зборщик проєкту
    Babel - для підтримки старими браузерами
    Scss - препроцесор
    Eslint - слідкує за чистотою коду JS
    Modes * 2
        - Dev ("режим розробки" не бачить користувач)
            Dev Server - інструмент, що дозволяє перезагрузити сторінку, якщо відбулись зміни
            SourceMaps
            Eslint
            Not Minified JS & CSS
        - Prod - кінцевий результат (бачить користувач)
            Minified Code

Git - система контролю версій
    Production
        1.0.0
        0 -----
    Development
        1.0.2
        1 -----------


